h1 {
  color: #F0FFF1;  
  
}
h1,table,li,h2,h3{
 font-family: Courier New, Helvetica, sans-serif;
  color: #b3e9c7;
}
ul{
  list-style-type: disc;
}
Table, th {
  border: solid black;
  border-collapse: Collapse;
  background-color: #5603AD;
}
body {
  background-color: #8367C7;
}
#table1 { 
  width: 100%;
}
img { 
  width: 15%;
 
}

ul {
  list-style-position: inside;
}

img {
  border: 20px groove #c2f8cb;
}

nav {
  list-style-type: none;
  position: fixed;
  background-color: lavender;
  width: 100%;
  left: 0;
  top: 0;
}

.nav {
  display: inline;
  float: center;
  padding: 190px;
}
.nav a:hover {
  background-color: #93E9BE;
}
a {
text-decoration: none;
color: purple
}
    
    
    
    
    
